:root {
  --tile-white: white;
  --tile-lightgrey: #d3d3d3;
  --tile-lightgrey-shadow: #d3d3d380;
  --tile-orange: #ffa500;
  --tile-orange-shadow: #ffa50080;
  --tile-green: #6B8E23;
  --tile-green-shadow: #6B8E2380;
  --text-dark: rgb(110,110,110);
  --text-light: rgb(180,180,180);
  --doc-font: 'Lucida Grande', sans-serif;
}

html {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: max(0.9vw, 11px);
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (max-width: 850px) {
  body {
    overflow: hidden;
  }
}
